#driver{
  font-size: 14px;
  margin: 10px 30px;
  background: white;
  height: 940px;
}
.driver-top{
  font-size: 15px;
  margin-left: 40px;
}
#driver-cart{
  padding: 10px 25px;
}

.driver-dialog {
  width: 950px !important;
  .head-img{
    display: inline-block;
    vertical-align: top;
    img{
      width: 100px;
      height: 100px;
    }
  }
}
.driver-form {
  display: inline-block;
  > div {
    padding: 5px 20px;
    margin: 5px 0;
    line-height: 25px;
    font-size: 15px;
    input, select {
      width: 140px;
      padding-left: 10px;
      margin: 0 10px;
    }
    label {
      font-size: 14px;
      color: black;
      display: inline-block;
      width: 90px;
      text-align: center;
    }
  }
  .other-login{
    margin: 10px 0;
    .ant-checkbox-group{
      display: inline-block;
    }
  }
  .input-long{
    input{
      width: 300px;
    }
  }
}

.driver-form  .examine {
  margin-top: 20px;
  div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    width: 230px;
    text-align: center;
  }
  img {
    width: 230px;
    height: 140px;
  }
}