#identification {
  background: white;
  margin: 15px 25px 0;
  height: 940px;
  min-width: 1250px;
}

.iden-dialog {
  width: 900px !important;
}

.records-top {
  font-size: 15px;
  margin-left: 40px;
}

#records-cart {
  padding: 10px 25px;
}

.iden-form {
  > div {
    padding: 5px 20px;
    margin: 5px 0;
    line-height: 25px;
    font-size: 15px;
    input, select {
      width: 140px;
      padding-left: 10px;
      margin: 0 10px;
    }
    label {
      font-size: 14px;
      color: black;
      display: inline-block;
      width: 70px;
    }
  }
}

.iden-form .examine {
  margin-top: 20px;
  div {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    width: 150px;
    text-align: center;
  }
  img {
    width: 150px;
    height: 100px;
  }
}
